problem 1

In [14]:
x=input("enter the number ")
print(x[-1])

enter the number 534354343453545353
3

problem 2

In [23]:


x=input("enter the number ")
a=x[-1]
if int(a) %3==0:
 print("the last digit of a number is divisible by 3")
elif int(a) %3!=0 :
   print("the last digit of a number is not divisible by 3")

enter the number 525249
the last digit of a number is divisible by 3

problem 3

In [26]:
while True:
  a=int(input(" enter the number "))
  if a==1:
    print("sunday")
  elif a==2:
    print("Monday")
  elif a==3:
    print("Tuesday")
  elif a==4:
    print("Wednesday")
  elif a==5:
    print("Thursday")
  elif a==6:
    print("Fridayy")
  elif a==7:
    print("satrday")
  else:
    break

 enter the number 1
sunday
 enter the number 2
Monday
 enter the number 3
Tuesday
 enter the number 4
Wednesday
 enter the number 5
Thursday
 enter the number 6
Fridayy
 enter the number 7
satrday
 enter the number 8

problem 4

In [28]:
ch = input("Enter a character: ")

if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
 or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch, "is a Vowel")
else:
    print(ch, "is not vowel")

Enter a character: b
b is not vowel

problem 5

In [30]:
x=int(input("enter the price "))
if x> 10000:
   Net_amount =x-((20/100)*x)
   print(f"the net amount is {Net_amount}")
elif x> 7000 and x<=10000:
   Net_amount =x-((15/100)*x)
   print(f"the net amount is {Net_amount}")     
elif  x<=7000:
   Net_amount =x-((10/100)*x)
   print(f"the net amount is {Net_amount}")

enter the price 215161
the net amount is 172128.8

problem 6

In [47]:
x = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(10) :
  if i==0:
    continue
  elif i%2==0:
    continue
  else:     
    print(x[i])

20
40
60
80
100

problem 7

In [61]:
rows = 4
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4

problem 8

In [64]:
sum=0
num=0
while True:
  x=int(input("enter the  number : "))
  if x !=0 :
    sum+=x
    num+=1
  elif x==0:
    print(f"the sum is {sum}") 
    print(f"the avrg is {sum/num}")
    break

enter the  number : 5
enter the  number : 4
enter the  number : 3
enter the  number : 1
enter the  number : 0
the sum is 13
the avrg is 3.25

problem 9

In [69]:
x=4
y=[x]
while x<30 :
  x+=2
  y.append(x)
print(y)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

problem 10

In [76]:
x=[100,30,22,40,60,20,10,300]
max =x[0]
min =x[0]
for i in x :
  if i > max:
    max =i
  elif i < min :
    min = i
print(f"the max item is {max} and the min item is {min}")

the max item is 300 and the min item is 10